<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Account</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <script  th:src="@{/js/myjs.js}"></script>
    <style>
		.red{
			color:orange;
		}

		.btn{
			width:30%;
			text-align: center;
		}
	</style>
    
</head>

<body>
<nav class="navbar sticky-top bg-light">
    <div class="container-fluid">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/client/login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/client/new}">Register</a>
            </li>
        </ul>
    </div>
</nav>
    <br>
    <div class="container text-center">
        <h1>My Account</h1>
    </div>
    <br>
    <div class="container">
        <form class="row g-3" th:action="@{/client/myaccount}" th:object="${account}" method="post">
        	<div class="col-md-6">
                <label class="form-label">Account number</label>
                <input type="text" class="form-control" th:field="*{id}" readonly="readonly">
            </div>
            <div class="col-md-6">
                <label class="form-label">Client number</label>
                <input type="text" class="form-control" th:field="*{clientId}" readonly="readonly">
            </div>
            <div class="col-md-6">
                <label class="form-label">Type</label>
                <input type="text" class="form-control" th:field="*{type}" readonly="readonly">
            </div>
            <div class="col-md-6">
                <label class="form-label">Balance</label>
                <input type="text" class="form-control" th:field="*{balance}" id = "balance" readonly="readonly"><br>
                <div th:if="${#fields.hasErrors('balance')}" th:errors="*{balance}" class="red">Balance Error</div><br>
                
                <input type="number" class="form-control" id = "withdraw" min="0" value="0">
                <button type="button" class="btn btn-primary" style="width:20%" th:onclick="myCalculate()">withdraw</button><br><br>
                
                <input type="number" class="form-control" id = "add" min="0" value="0">
                <button type="button" class="btn btn-primary" style="width:20%" th:onclick="myCalculate()">add</button>
                
            </div>
            <div class="col-12">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
<footer>
    <nav class="navbar sticky-bottom bg-light">
        <div class="container-fluid">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <form th:action="@{/client/logout}" method="post">
                        <input type="submit" value="Sign Out" class="btn btn-primary"/>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/admin/login}">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
</footer>

</html>