<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Welcome Admin</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{css/styles.css}">
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<style>
		.red{
			color:orange;
		}

		.btn{
			width:30%;
			text-align: center;
		}
	</style>
</head>
<body class="body" onload="message()">
	<div class="container text-center" style="margin-top: 50px;">
             <h3>Logged admin: <b>[[${#request.userPrincipal.principal.fullName}]]</b>
        </h3><br><br>
		<a th:href="@{/admin/clients}" class="btn btn-primary">List of Clients</a><br><br>
		<a th:href="@{/admin/accounts}" class="btn btn-primary">List of Accounts</a><br><br><br>
		<form th:action="@{/admin/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-primary"/>
		</form>
	</div>
</body>
</html>
